.pBody{
    color: white;
    position: absolute;
    width: 30%;
    top: 18%;
    font-size: 2.5vh;
    right: 7%;
    font-family: 'Tektur', cursive;
}

.pBody2{
    color: black;
    position: absolute;
    width: 30%;
    top: 50%;
    font-size: 2.5vh;
    left: 22%;
    font-family: 'Tektur', cursive;
}

