.all{
    position: relative;
}
.one img{
    width: 100%;
}

.three img{
    width: 100%;
}

h1{
    color: white;
    position: absolute;
    top: 15%;
    width: 100%;
    padding-left: 4%;    
    font-size: 12vh;
    font-family: 'Tektur', cursive;
}

/*Estilos de las Cartas*/
.two{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box-cards{
    display: flex;
    position: absolute;
    left: 2%;
    top: 40%;
}

.cards{
    background: white;
    margin: 0.3rem; 
    padding: 1rem;
    border-radius: 21px;
    border: solid;
    border-color: #A15571;
    max-width: 9rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h4{
    font-size: 1.5rem;
}

.btn{
    position: absolute;
    top: 48%;
    right: 2%;
    background-color: #E9B281;
    border: solid;
    border-color: black;
    padding: 0.5rem;
    font-size: 2.3vh;
    border-radius: 21px;
    font-family: 'Tektur', cursive;
    font-weight: bold;
}

h3{
    color: #84A6FA;
    position: absolute;
    top: 60%;
    left: 22%;    
    font-size: 8vh;
    font-family: 'Tektur', cursive;
}

.animation{
    background-color: #84A6FA;
    color: black;
    position: absolute;
    top: 66%;
    border-radius: 16px;
    padding-left: 1%;
    padding-right: 1%;
    width: auto;
    left: 22%;    
    font-size: 8vh;
    font-family: 'Tektur', cursive;
}

.four{
    top: 65%;
    position: absolute;
    width: 30%;
    right: 10%;
}   