.all{
    position: relative;
}
.one img{
    width: 100%;
}

.three img{
    width: 100%;
}

h1{
    color: white;
    position: absolute;
    top: 10%;
    width: 100%;
    padding-left: 4%;    
    font-size: 12vh;
    font-family: 'Tektur', cursive;
}

/*Estilos de las Cartas*/
.two{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box-cards{
    display: flex;
    position: absolute;
    left: 2%;
    top: 28%;
}

.cards{
    background: white;
    margin: 0.3rem; 
    padding: 1rem;
    border-radius: 21px;
    border: solid;
    border-color: #A15571;
    max-width: 9rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h4{
    font-size: 1.5rem;
}

.btn{
    position: absolute;
    top: 33%;
    right: 2%;
    background-color: #E9B281;
    border: solid;
    border-color: black;
    padding: 0.5rem;
    font-size: 2.3vh;
    border-radius: 21px;
    font-family: 'Tektur', cursive;
    font-weight: bold;
}

h3{
    color: #84A6FA;
    position: absolute;
    top: 40%;
    left: 22%;    
    font-size: 8vh;
    font-family: 'Tektur', cursive;
}

.animation{
    background-color: #84A6FA;
    color: black;
    position: absolute;
    top: 45%;
    border-radius: 16px;
    padding-left: 1%;
    padding-right: 1%;
    width: auto;
    left: 22%;    
    font-size: 8vh;
    font-family: 'Tektur', cursive;
}

.slider{
    top: 48%;
    position: absolute;
    width: 30%;
    right: 10%;
}   


/*Estilos del Visor de Imagenes*/

.four{
    width: 100%;
}

.four nav{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px; 
    object-fit: cover;
}

.galeria img{
    width: 100%;
}

.galeria img:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
}




